{% extends "django_messages/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block title %}New Message{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h3 class="heading">{% trans "Compose Message" %}</h3>
                <div class="contact-form">
                    <form role="form" method="post" action="">
                        {% csrf_token %}
                        <div class="row">
                            {% for field in form %}
                                <div class="form-group col-lg-12">
                                    {{ field.label_tag }}
                                    {{ field | add_class:"form-control" }}
                                </div>
                            {% endfor %}
                        </div>
                        <input type="submit" value="{% trans "Send" %} &raquo;"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}