{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Files{% endblock %}
<html lang="en">
{% block bar %}
<body>
    <br><br>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/reports/">Report Home</a></li>
                    <li><a href="/reports/create/">Create Reports</a></li>
                    <li><a href="/reports/manage/">Manage Reports</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
{% endblock %}

{% block body %}
<body>
<!-- List of uploaded documents -->
{% if pubdoc %}
    <p><b>These are your non encrypted files. Click filename to view and Click Download to download file</b></p>
    <ul>
    {% for document in pubdoc %}
        <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
	    <a href="{{ document.docfile.url}}" download="">Download</a>
    {% endfor %}
    </ul>
    {% else %}
        <p><b>No non-encrypted files in report.</b></p>
{% endif %}
{% if encdoc %}
    <p><b>These are your encrypted files, you can only download and view them through the FDA</b></p>
    <ul>
    {% for doc in encdoc %}
        <li>{{ doc.docfile.name }}</li>

    {% endfor %}
    </ul>
    {% else %}
        <p><b>No encrypted files in report.</b></p>
{% endif %}

    <!-- Upload form. Note enctype attribute! -->

        <form role="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group col-lg-12">
                    {{ field.label_tag }}
                    {{ field | add_class:"form-control" }}
                </div>
            {% endfor %}
            <p><input type="submit" value="Upload" /></p>
        </form>

</body>
{% endblock %}