{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Create Report{% endblock %}
{% block bar %}
    <body>
    <br><br>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/reports/">Report Home</a></li>
                    <li><a href="/reports/create/">Create Reports</a></li>
                    <li><a href="/reports/manage/">Manage Reports</a></li>
                </ul>
            </div>
        </div>
    </nav>
    </body>
{% endblock %}
{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-lg-5">
                <h3 class="heading">Create a Report</h3>
                <h3><strong><font color="green">{{ success }}</font></strong></h3>
                <h3><strong><font color="red">{{ failure }}</font></strong></h3>
                <div class="contact-form">
                    <form role="form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            {% for field in form %}
                                <div class="form-group col-lg-12">
                                    {{ field.label_tag }}
                                    {{ field | add_class:"form-control" }}
                                </div>
                            {% endfor %}
                        </div>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

