<html lang="en">
<{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Edit Report{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <h3 class="heading">Edit Report</h3>
                <h3><strong><font color="green">{{ success }}</font></strong></h3>
                <h3><strong><font color="red">{{ failure }}</font></strong></h3>
                <div class="contact-form">
                    <form role="form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            {% for field in form %}
                                <div class="form-group col-lg-12">
                                    {{ field.label_tag }}
                                    {{ field | add_class:"form-control" }}
                                </div>
                            {% endfor %}
                        </div>
                        <input type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</html>