<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <form method="post">
        {% csrf_token %}
        <input type="text" name="unencryptedtext"><br>
        <input type="submit" value="Submit">
    </form>
</head>
<div id="result"></div>
</html>
<script>
    var data = "{{ data }}";
    var key = "{{ key }}";
    var encode = "{{Function}}"


    console.log("POINTA");
    console.log(data);
    console.log("POINTB");
    console.log(key);
    if(data != "") {
        var div = document.getElementById("result");
        html = "<h1>Encrypted Text</h1>";
        html += data;
        html += "<br>";
        html += "<h1>Used the following key:</h1>";
        html += key;
        div.innerHTML = html;
        console.log(html);

    }

</script>