{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block table %}
<body>
</body>
{% endblock %}
{% block bar %}
<body>
    <br><br>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/groups/create/">Create Groups</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row text-center">
            <br><br>
            <h1>Group Manager</h1>
            <form method="post">
                    {% csrf_token %}
            <table class="Group Manager" border="1" style="width:100%">
                <thead>
                    <tr>
                        <td><strong>Group Name</strong></td>
                    </tr>
                </thead>
                <tbody>
                {% for Group in groups %}
                    <tr>
                        <td><a href="/groups/group_info/{{ Group.name }}">{{ Group.name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
                <input type="submit" value="Submit Request">
            </form>
            <br>
        </div>
    </div>
{% endblock %}


<body>

</body>
</html>