{% extends "base.html" %}
{% block title %}SafeCollab{% endblock %}

{% block body %}

    <div id="wrapper">
        <div id="bg"></div>
        <div id="overlay"></div>
        <div id="main">

            <!-- Header -->
            <header id="header">
                <h1>SafeCollab</h1>
                <p>Online collaboration &nbsp;&bull;&nbsp; File sharing &nbsp;&bull;&nbsp; Messaging</p>
            </header>
        </div>
    </div>


    <script>
        window.onload = function () {
            document.body.className = '';
        }
        window.ontouchmove = function () {
            return false;
        }
        window.onorientationchange = function () {
            document.body.scrollTop = 0;
        }
    </script>
{% endblock %}
