{% extends "base.html" %}
{% block title %}FDA{% endblock %}
{% block body %}
    <p><br><br></p>
    <p></p>
    <div class="container">
        <div class="row text-center">
        <h1>&nbsp;&nbsp;&nbsp;&nbsp;Files</h1>
                    <!-- List of uploaded documents -->
        {% if documents %}
            <ul>
            {% for document in documents %}
            <p><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></p>
	        <form action="{% url 'download' %}" method="get" action="{{ document.docfile.url }}">
	        <a href="{{ document.docfile.url}}" download="">Download</a>
	        <!-- comment out <button type="submit">Download!</button> -->
	        </form>
            {% endfor %}
            </ul>
        {% else %}
        <p>No documents.</p>
    {% endif %}
        </div>
    </div>

{% endblock %}